@import url("https://fonts.googleapis.com/css?family=DM+Sans:var(--paragraph-3-font-weight),var(--paragraph-1-font-weight),var(--paragraph-2-font-weight),var(--form-field-font-weight)|Manrope:var(--h4-font-weight),var(--h5-font-weight),var(--h6-font-weight),var(--sub-2-font-weight),var(--h3-font-weight),var(--sub-1-font-weight),var(--button-font-weight),var(--h2-font-weight),400,var(--h1-font-weight)");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .all-unset {
    all: unset;
  }

  :root {
    --black: rgba(11, 10, 4, 1);
    --button-font-family: "Manrope", Helvetica;
    --button-font-size: 16px;
    --button-font-style: normal;
    --button-font-weight: 400;
    --button-letter-spacing: 0px;
    --button-line-height: normal;
    --dark-blue: rgba(44, 46, 71, 1);
    --dark-yellow: rgba(54, 46, 0, 1);
    --form-field-font-family: "DM Sans", Helvetica;
    --form-field-font-size: 12px;
    --form-field-font-style: normal;
    --form-field-font-weight: 400;
    --form-field-letter-spacing: 0px;
    --form-field-line-height: normal;
    --green: rgba(91, 181, 67, 1);
    --green-light: rgba(240, 248, 237, 1);
    --grey-1: rgba(134, 134, 134, 1);
    --grey-2: rgba(147, 147, 147, 1);
    --grey-3: rgba(222, 222, 222, 1);
    --grey-light-1: rgba(243, 243, 243, 1);
    --grey-light-2: rgba(248, 248, 248, 1);
    --h1-font-family: "Manrope", Helvetica;
    --h1-font-size: 64px;
    --h1-font-style: normal;
    --h1-font-weight: 500;
    --h1-letter-spacing: 0px;
    --h1-line-height: normal;
    --h2-font-family: "Manrope", Helvetica;
    --h2-font-size: 48px;
    --h2-font-style: normal;
    --h2-font-weight: 600;
    --h2-letter-spacing: 0px;
    --h2-line-height: normal;
    --h3-font-family: "Manrope", Helvetica;
    --h3-font-size: 32px;
    --h3-font-style: normal;
    --h3-font-weight: 600;
    --h3-letter-spacing: 0px;
    --h3-line-height: normal;
    --h4-font-family: "Manrope", Helvetica;
    --h4-font-size: 28px;
    --h4-font-style: normal;
    --h4-font-weight: 700;
    --h4-letter-spacing: 0px;
    --h4-line-height: normal;
    --h5-font-family: "Manrope", Helvetica;
    --h5-font-size: 24px;
    --h5-font-style: normal;
    --h5-font-weight: 700;
    --h5-letter-spacing: 0px;
    --h5-line-height: normal;
    --h6-font-family: "Manrope", Helvetica;
    --h6-font-size: 20px;
    --h6-font-style: normal;
    --h6-font-weight: 700;
    --h6-letter-spacing: 0px;
    --h6-line-height: normal;
    --heading-5-font-family: "DM Sans", Helvetica;
    --heading-5-font-size: 25px;
    --heading-5-font-style: normal;
    --heading-5-font-weight: 700;
    --heading-5-letter-spacing: 0px;
    --heading-5-line-height: 130%;
    --orange: rgba(246, 182, 19, 1);
    --paragraph-1-font-family: "DM Sans", Helvetica;
    --paragraph-1-font-size: 18px;
    --paragraph-1-font-style: normal;
    --paragraph-1-font-weight: 400;
    --paragraph-1-letter-spacing: 0px;
    --paragraph-1-line-height: 28px;
    --paragraph-2-font-family: "DM Sans", Helvetica;
    --paragraph-2-font-size: 16px;
    --paragraph-2-font-style: normal;
    --paragraph-2-font-weight: 400;
    --paragraph-2-letter-spacing: 0px;
    --paragraph-2-line-height: 26px;
    --paragraph-3-font-family: "DM Sans", Helvetica;
    --paragraph-3-font-size: 14px;
    --paragraph-3-font-style: normal;
    --paragraph-3-font-weight: 400;
    --paragraph-3-letter-spacing: 0px;
    --paragraph-3-line-height: 24px;
    --sub-1-font-family: "Manrope", Helvetica;
    --sub-1-font-size: 16px;
    --sub-1-font-style: normal;
    --sub-1-font-weight: 600;
    --sub-1-letter-spacing: 0px;
    --sub-1-line-height: normal;
    --sub-2-font-family: "Manrope", Helvetica;
    --sub-2-font-size: 14px;
    --sub-2-font-style: normal;
    --sub-2-font-weight: 600;
    --sub-2-letter-spacing: 0px;
    --sub-2-line-height: normal;
    --white: rgba(255, 255, 255, 1);
    --yellow: rgba(218, 224, 33, 1);
    --yellow-hover: rgba(177, 190, 4, 1);

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
    --animate-spin: spin 1s linear infinite;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: transparent;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
